// assets/styles/main.scss
@use 'variables' as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased; /* For WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}

.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-base);
  background-color: var(--va-background-primary);
}

.auth-card {
  width: 100%;
  max-width: 400px;

  .va-card__content {
    padding: var(--spacing-base);
  }
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}
